In [1]:
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import deque

In [2]:
#First Level(And initializing layer)
graph = {}
graph['you'] = ['a', 'b', 'c', 'd', 'e']
graph['a'] = ['f', 'g', 'h', 'i', 'j'] 
graph['b'] = ['f', 'g', 'h', 'i', 'j']
graph['c']= ['f', 'g', 'h', 'i', 'j']
graph['d']= ['f', 'g', 'h', 'i', 'j']
graph['e']= ['f', 'g', 'h', 'i', 'j']

In [3]:
#Second Level
graph['f']= ['k', 'l', 'm', 'n', 'o']
graph['g']=['k', 'l', 'm', 'n', 'o']
graph['h']=['k', 'l', 'm', 'n', 'o']
graph['i']=['k', 'l', 'm', 'n', 'o']
graph['j']=['k', 'l', 'm', 'n', 'o']

In [4]:
#Third Level
graph['k'] = ['p', 'q', 'r', 's', 't']
graph['l'] = ['p', 'q', 'r', 's', 't']
graph['m'] = ['p', 'q', 'r', 's', 't']
graph['n'] = ['p', 'q', 'r', 's', 't']
graph['o'] = ['p', 'q', 'r', 's', 't']

In [5]:
#Fourth Level
graph['p'] = ['u', 'v', 'w', 'x', 'y']
graph['q'] = ['u', 'v', 'w', 'x', 'y']
graph['r'] = ['u', 'v', 'w', 'x', 'y']
graph['s'] = ['u', 'v', 'w', 'x', 'y']
graph['t'] = ['u', 'v', 'w', 'x', 'y']

In [6]:
#Fifth Level
graph['u'] = ['z', 'aa', 'bb', 'cc', 'dd']
graph['v'] = ['z', 'aa', 'bb', 'cc', 'dd']
graph['w'] = ['z', 'aa', 'bb', 'cc', 'dd']
graph['x'] = ['z', 'aa', 'bb', 'cc', 'dd']
graph['y'] = ['z', 'aa', 'bb', 'cc', 'dd']

In [7]:
#End of the road to prevent error
graph['z']= []
graph['aa']= []
graph['bb']= []
graph['cc']= []
graph['dd']= []

In [8]:
def search(name):
    search_queue = deque()
    search_queue += graph["you"]
    searched = set()
    while search_queue:
        person = search_queue.popleft()
        if person not in searched:
            if person == name:
                return True
            else:
                search_queue += graph[person]
                searched.add(person)
    return False

In [9]:
def find_time(name):
    start_time = time.time()
    for x in range(1000):
        search(name)
    runtime = time.time() - start_time
    return runtime*1000

In [10]:
level_one_times = [find_time('f'), find_time('g'), find_time('h')]

In [11]:
level_two_times = [find_time('l'), find_time('m'), find_time('n')]

In [12]:
level_three_times = [find_time('q'), find_time('r'), find_time('s')]

In [13]:
level_four_times = [find_time('v'), find_time('w'), find_time('x')]

In [14]:
level_five_times = [find_time('z'), find_time('aa'), find_time('bb')]

In [15]:
data = {"Levels": [1,1,1,2,2,2,3,3,3,4,4,4,5,5,5], "Names": ['f', 'g', 'h', 'l', 'm', 'n', 'q','r','s',
                                                                   'v', 'w', 'x', 'z', 'aa', 'bb'],}

In [16]:
df = pd.DataFrame(data)

In [17]:
total = level_one_times+level_two_times+level_three_times+level_four_times+level_five_times

In [18]:
df['Runtimes']= total

In [19]:
df

    Levels Names   Runtimes
0        1     f   2.997875
1        1     g   2.998114
2        1     h   3.997803
3        2     l   8.992910
4        2     m   9.994030
5        2     n   9.994030
6        3     q  10.992765
7        3     r  11.993170
8        3     s  11.992216
9        4     v  21.981478
10       4     w  16.988754
11       4     x  20.987272
12       5     z  20.987988
13       5    aa  18.988132
14       5    bb  18.988609

In [20]:
def average(array):
    avg = sum(array)/len(array)
    return avg

In [21]:
averages = [average(level_one_times), average(level_two_times), average(level_three_times), average(level_four_times),
            average(level_five_times)]

In [22]:
levels = range(5)

# Executive Summary

## For this experiment I basically created a graph for the purposes of utilizing a breadth-first search algorithm. After creating an initializing layer (so I can have the algorithm start somewhere), I put the graph into five levels with each level having 5 names being connected to 5 different names.  I then inserted a sixth layer to prevent any key errors from being issued when searching for values. The breadth-first search algorithm ran incredibly quickly. In fact, it ran so quickly that in order to properly measure it, I had to have it run 1000 times to get a proper runtime in milliseconds.

## The results of this algorithms runtimes were unsurprising and consistent. The Big O notation of breadth-first is O(V+E) with V meaning vertices and E meaning Edges. This essentially means the deeper into the graph that we go, the more likely it is that the run time will take longer. For instance, the first layer took around 3-4 milliseconds to run 1000 times where the fifth level took between 18 and 20 milliseconds. While that does make quite a difference, what is amazing about this algorithm is that it does not grow even more as the number of layers increase. This algorithm is extremely useful for data engineering due to the fact that it is extremely easy to use in finding out information about connections at a faster speed. And this is only with Python and hash tables. When implementing this in something like a graph database such as Neo4j with a Cypher query it is remarkably quicker when comparing it to join SQL queries.